
body{
    margin: 0;
    padding: 0;
    background-color: blue;
}

header{
    
}

main{
    height: 550px;
    width: 550px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.posicoes{
    height: 400px;
    width: 400px;
    max-height: 170px;
    max-width: 170px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
}

